<div class="row">
    <div class="col-md-2  mb-5" *ngFor="let movie of movies">
        <img class="img-fluid poster" 
        [src]="movie.poster_path | poster" 
        alt="movie.title"
        (click)="onMovieClick(movie)">

        <div>
            <h3>{{movie.title}}</h3>
            <div class="row">
                <div class="col-8 text-white">
                    <star-rating [value]="movie.vote_average / 2"
                                [totalstars]="5"
                                checkedcolor="yellow" 
                                uncheckedcolor="grey" 
                                size="10px" 
                                [readonly]="true" 
                    ></star-rating>
                </div>
                <div class="col-4 text-white">
                    {{ movie.vote_average | number: '1.1-2' }}
                </div>
            </div>
        </div>
    </div>
</div>
